<%# locals: (plan:, subject:, subject_type:, errors: nil) %>

<% if errors.present? %>
  <div class="error-container">
    <ul class="error-list">
      <% errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: plan, data: { controller: "plan-form" }, id: "plan-form") do |f| %>
  <%= f.hidden_field :id if plan.respond_to?(:id) %>
  <%# Hidden fields to tell the Controller what we selected in Steps 1 & 2 %>
  <%= f.hidden_field :subject_type, value: subject_type %>
  <%= f.hidden_field :subject_id, value: subject.id %>

  <div class="stat-grid">
    <%# Level Section %>
    <div class="stat-section">
      <h2 class=" stat-label ">Level</h2>
      <div class="stat-input-row">
        <%= f.number_field :current_level,
                       class: "stat-input",
                       placeholder: "1",
                       data: {
                         action: "input->plan-form#clampLevel",
                       } %>
        <span class="text-ctp-text">→</span>
        <%= f.number_field :target_level,
                       class: "stat-input",
                       placeholder: "90",
                       data: {
                         action: "input->plan-form#clampLevel",
                       } %>
      </div>
    </div>

    <%# Ascension Section %>
    <div class="stat-section">
      <h2 class=" stat-label ">Ascension Rank</h2>
      <div class="stat-input-row">
        <%= f.number_field :current_ascension_rank,
                       placeholder: "0",
                       min: 0, max: 6,
                       class: "stat-input",
                       data: {
                         action: "input->plan-form#clampAscensionRank",
                       } %>
        <span class="text-white">→</span>
        <%= f.number_field :target_ascension_rank,
                       placeholder: "6",
                       min: 0, max: 6,
                       class: "stat-input",
                       data: {
                         action: "input->plan-form#clampAscensionRank",
                       } %>
      </div>
    </div>
  </div>

  <% if subject_type == "Resonator" %>
    <%# The Forte Grid %>
    <div class="forte-grid">
      <% forte_configs.each do |config| %>
        <%= render "forte_column", f: f, config: config %>
      <% end %>
    </div>
  <% end %>

  <div class="form-actions-sticky">
    <% button_label = (defined?(plan.id) && plan.id.present?) ? "Update Plan" : "Create Plan" %>
    <%= f.submit button_label, class: "form-submit-btn" %>
  </div>
<% end %>
