<div id="plan-form-frame">
  <%# Error Display %>
  <% if local_assigns[:errors].present? %>
    <div class="error-box">
      <strong>Fix errors:</strong>
      <ul>
        <% errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with url: plans_path, method: :post, data: { controller: "plan-form" } do |f| %>
    <%# Hidden fields to tell the Controller what we selected in Steps 1 & 2 %>
    <%= f.hidden_field :plan_type, value: plan_type %>

    <% if plan_type == "Resonator" %>
      <%= f.hidden_field :resonator_id, value: item.id %>
    <% else %>
      <%= f.hidden_field :weapon_id, value: item.id %>
    <% end %>

    <div>
      <div>
        <h2>Level</h2>
        <%= f.number_field :current_level,
                       value: 1,
                       min: 1,
                       max: 90,
                       data: {
                         action: "input->plan-form#clampLevel",
                       } %>
        <span>-></span>
        <%= f.number_field :target_level,
                       value: 90,
                       min: 1,
                       max: 90,
                       data: {
                         action: "input->plan-form#clampLevel",
                       } %>
      </div>

      <div>
        <h2>Ascension Rank</h2>
        <%= f.number_field :current_ascension_rank,
                       value: 0,
                       min: 0,
                       max: 6,
                       data: {
                         action: "input->plan-form#clampAscensionRank",
                       } %>
        <span>-></span>
        <%= f.number_field :target_ascension_rank,
                       value: 6,
                       min: 1,
                       max: 6,
                       data: {
                         action: "input->plan-form#clampAscensionRank",
                       } %>
      </div>
    </div>

    <div class="pt-6">
      <%= f.submit "Create Plan",
               class:
                 "w-full py-3 px-4 bg-blue-600 hover:bg-blue-700 text-white font-bold rounded-xl shadow-lg shadow-blue-200 transition-all cursor-pointer border-none" %>
    </div>
  <% end %>
</div>
