<%# locals: (plan:) %>

<div id="<%= dom_id(plan) %>" class="plan-card">
  <div class="plan-card-header">
    <h3 class="plan-card-title">
      <%= plan.plan_data.dig("input", "subject_name") %>
    </h3>

    <div class="plan-actions">
      <%= link_to "Edit",
          edit_plan_path(plan),
          data: { turbo_frame: "modal" },
          class: "edit-link" %>

      <%= link_to "Delete",
          confirm_delete_plan_path(plan),
          data: { turbo_frame: "modal" },
          class: "delete-link" %>
    </div>
  </div>

  <div class="plan-card-body">
    <% sorted_plan_materials(plan.plan_data.dig("output")).each do |mat_id, qty| %>
      <% material = @materials_lookup[mat_id.to_i] %>
      
      <div class="material-grid-item">
        <div class="item-icon rarity-border-<%= material&.rarity || 1 %>">
          <span class="icon-initials"><%= material&.name[0..1].upcase || "??" %></span>
        </div>

        <div class="mat-details">
          <span class="quantity-number">x<%= number_with_delimiter(qty) %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
