<%# locals: (plan:) %>

<div id="<%= dom_id(plan) %>" class="plan-card">
  <div class="plan-card-header">
    <h3 class="plan-card-title">
      <%= plan.plan_data.dig("input", "subject_name") %>
    </h3>

    <%= link_to "Delete",
    confirm_delete_plan_path(plan),
    data: {
      turbo_frame: "modal",
    },
    class: "delete-link" %>
  </div>

  <div class="plan-card-body">
    <% plan.plan_data.dig("output").each do |material_name, quantity| %>
      <div class="material-row">
        <span><%= material_name %></span>
        <div class="quantity-wrapper">
          <span class="quantity-x">x</span>
          <span><%= quantity %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
