<%# locals: (step:, plan_type:, items:, item: nil, errors: nil) %>

<div class="p-8 flex flex-col h-[550px]">
  <header class="mb-6">
    <div class="flex items-center justify-between">
      <h2 class="text-2xl font-black text-ctp-text tracking-tight">Select
        <%= plan_type %></h2>
    </div>
    <p class="text-sm text-ctp-subtext0 mt-1">Which one are you planning to upgrade?</p>
  </header>

  <%# Scrollable List Area %>
  <div
    class="
      grow overflow-y-auto rounded-xl shadow-inner bg-ctp-base custom-scrollbar
    "
  >
    <% items.each do |item_record| %>
      <%= link_to new_plan_path(plan_type: plan_type, item_id: item_record.id, step: 3), 
          data: { turbo_frame: "modal" }, 
          class: "flex items-center justify-between p-2 bg-ctp-base hover:bg-ctp-surface0 transition-all group" do %>

        <div class="flex items-center gap-4">
          <div
            class="
              w-10 h-10 rounded-xl bg-ctp-text flex items-center justify-center text-xl
              group-hover:shadow-sm transition-all
            "
          >
            <%= plan_type == "Resonator" ? "ðŸ‘¤" : "âš”ï¸" %>
          </div>
          <% if item_record.rarity == 5 %>
            <span class="font-bold star-5"><%= item_record.name %></span>
          <% else %>
            <span class="font-bold star-4"><%= item_record.name %></span>
          <% end %>
        </div>

        <div
          class="
            text-gray-300 group-hover:text-ctp-mauve transition-transform
            group-hover:translate-x-1
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      <% end %>
    <% end %>
  </div>

  <footer
    class="
      mt-6 pt-4 border-t border-ctp-surface0 flex items-center justify-between
    "
  >
    <%= link_to new_plan_path(step: 1), 
        data: { turbo_frame: "modal" },
        class: "text-xs font-bold text-ctp-subtext0 hover:text-ctp-mauve flex items-center gap-1 transition-colors" do %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-3 w-3"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="3"
          d="M15 19l-7-7 7-7"
        />
      </svg>
      Back
    <% end %>

    <span
      class="
        text-[10px] text-ctp-subtext0 font-medium uppercase tracking-widest
      "
    >Scroll for more</span>
  </footer>
</div>
