<header class="navbar-main">
  <div class="navbar-container">
    <%= link_to root_path, data: { turbo: false }, class: "brand-logo" do %>
      PANGU <span>TERMINAL</span>
    <% end %>

    <nav class="navbar-links">
      <% if user_signed_in? %>
        <%# Authenticated Links %>
        <%= link_to "Dashboard", authenticated_root_path, 
            data: { turbo_frame: "main_content", turbo_action: "advance" }, 
            class: "nav-link nav-dashboards" %>
        <%= link_to "Planner", plans_path, 
            data: { turbo_frame: "main_content", turbo_action: "advance" }, 
            class: "nav-link nav-plans" %>
        <%= link_to "Inventory", inventory_items_path, 
            data: { turbo_frame: "main_content", turbo_action: "advance" }, 
            class: "nav-link nav-inventory_items" %>
      <% else %>
        <%# Guest Links %>
        <%= link_to "Planner", plans_path, 
            data: { turbo_frame: "main_content", turbo_action: "advance" }, 
            class: "nav-link nav-plans" %>
      <% end %>
    </nav>

    <div class="navbar-auths">
      <% if user_signed_in? %>
        <%= link_to "#{current_user.email.split("@").first}",
        dashboard_path,
        data: { turbo_frame: "main_content" },
        class: "user-badge" %>
        <%= link_to "Logout",
        destroy_user_session_path,
        data: {
          "turbo-method": :delete,
        },
        class: "nav-link auth-btn-secondary" %>
      <% else %>
        <%= link_to "Login",
          new_user_session_path,
          data: { turbo: false },
          class: "nav-link" %>
        <%= link_to "Sign Up",
          new_user_registration_path,
          data: { turbo: false },
          class: "nav-link auth-btn-primary" %>
      <% end %>
    </div>
  </div>
</header>

