<header class="navbar-main">
  <div class="navbar-container">
    <%= link_to root_path, data: { turbo: false }, class: "brand-logo" do %>
      PANGU<span>TERMINAL</span>
    <% end %>

    <nav class="navbar-links">
      <% if user_signed_in? %>
        <%# Authenticated Links %>
        <%= link_to "Planner", plans_path, 
            data: { turbo_frame: "main_content", turbo_action: "advance" }, 
            class: "nav-link nav-plan" %>
        <%= link_to "Inventory", inventory_items_path, 
            data: { turbo_frame: "main_content", turbo_action: "advance" }, 
            class: "nav-link nav-inventory" %>
      <% else %>
        <%# Guest Links %>
        <%= link_to "Planner", plans_path, 
            data: { turbo_frame: "main_content", turbo_action: "advance" }, 
            class: "nav-link nav-plan" %>
      <% end %>
    </nav>

    <div class="navbar-auths">
      <% if user_signed_in? %>
        <%= link_to "#{current_user.email.split("@").first}",
        authenticated_root_path,
        data: { turbo_frame: "main_content", turbo_action: "replace" },
        class: "user-badge nav-dashboard" %>
        <%= link_to "Logout",
        destroy_user_session_path,
        data: {
          "turbo-method": :delete,
          turbo_frame: "_top"
        },
        class: "nav-link auth-btn-secondary" %>
      <% else %>
        <%= link_to "Sign In",
          new_user_session_path,
          data: { turbo: false },
          class: "sign-in" %>
      <% end %>
    </div>
  </div>
</header>

